.ly-switch_btn {
    --ly-switch_background-color: #ddd;
    --ly-switch_color_active: var(--ly-form_color_blue);

    position: relative;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--ly-switch_background-color);
}

.ly-switch_btn[data-status='1'] {
    background-color: var(--ly-switch_color_active);
}

.ly-switch_btn::after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.35s;
}

.ly-switch_btn[data-status='1']::after {
    left: calc(100% - 18px);
}
