.ly-time-picker {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    flex-wrap: wrap;
    width: 272px;
    height: auto;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: var(--ly-form_box-shadow);
}

.ly-time-picker > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3px 5px;
}

/* #region 顶部 */
.ly-time-picker > .ly-time-picker_header {
    border-bottom: 1px solid #ddd;
}

.ly-time-picker .ltp_header-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 8px 0;
}

.ly-time-picker .ltp_header-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    cursor: pointer;
}

.ly-time-picker .ltp_header-icons {
    position: relative;
    width: 24px;
}

.ly-time-picker .ly-icon_arrow-down[data-rotate='left'] {
    position: absolute;
    transform: rotate(90deg);
}

.ly-time-picker .ly-icon_arrow-down[data-rotate='right'] {
    position: absolute;
    transform: rotate(-90deg);
}

.ly-time-picker .ltp_header-item:hover > .ly-icon_arrow-down {
    --ly-form_color_icon: var(--ly-form_color_blue);
}

.ly-time-picker
    .ltp_header-item[data-action='prev-year']
    > .ly-icon_arrow-down:last-child {
    right: 0;
}

.ly-time-picker
    .ltp_header-item[data-action='next-year']
    > .ly-icon_arrow-down:last-child {
    right: 0;
}
/* #endregion */

/* 中间 */
.ly-time-picker > .ly-time-picker_center {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

.ly-time-picker > .ly-time-picker_center > div {
    display: flex;
    width: 100%;
}

.ly-time-picker > .ly-time-picker_center > div > ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.ly-time-picker > .ly-time-picker_center > div > ul > li {
    display: inline-flex;
    justify-content: center;
    width: calc(100% / 7);
    padding: 10px 0;
    color: #bbb;
}

.ly-time-picker > .ly-time-picker_center > div > ul > li.cur-month {
    color: #000;
}

.ly-time-picker
    > .ly-time-picker_center
    > div
    > ul.ly-time-picker_day-list
    > li:not(.ly-time-picker_date-item-checked):hover {
    cursor: pointer;
    color: #337ab7;
    background-color: #ddd;
}

.ly-time-picker
    > .ly-time-picker_center
    > div
    > ul
    > li.ly-time-picker_date-item-checked {
    color: #fff;
    background-color: #337ab7;
}

/* 底部 */
.ly-time-picker > .ly-time-picker_footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    color: #666;
}

.ly-time-picker > .ly-time-picker_footer > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ly-time-picker > .ly-time-picker_footer > div > span {
    display: inline-flex;
    padding: 5px 8px;
    margin: 8px 0px;
    margin-right: -1px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    cursor: pointer;
}

.ly-time-picker > .ly-time-picker_footer > div > span:hover {
    color: #28428c !important;
}
