.ly-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.ly-popup > .ly-popup_container {
    min-width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: var(--ly-form_box-shadow);
}

.ly-popup .ly-popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    background-color: var(--ly-form_color_blue);
    font-family: Medium;
    font-size: 16px;
}

.ly-popup .ly-popup_header > .ly-icon_close {
    --ly-form_color_icon: #fff;
}

.ly-popup .ly-popup_header > .ly-icon_close:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ly-popup .ly-popup_center {
    height: calc(100% - 40px);
    padding: 20px;
}

.ly-popup .ly-popup_footer {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
