.ly-checkbox {
    --ly-checkbox_border-color_icon: #333;
    --ly-checkbox_color_active: var(--ly-form_color_blue);
    --ly-checkbox_height: 32px;
}

.ly-checkbox .ly-checkbox_list {
    margin: 0;
    padding: 0;
}

.ly-checkbox .ly-checkbox_item {
    display: inline-flex;
    align-items: center;
    height: var(--ly-checkbox_height);
    line-height: var(--ly-checkbox_height);
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.ly-checkbox .ly-checkbox_item-active {
    color: var(--ly-checkbox_color_active);
}

.ly-checkbox .ly-checkbox_item-icon {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid var(--ly-checkbox_border-color_icon);
    margin-right: 4px;
}

.ly-checkbox .ly-checkbox_item-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67.5%) rotate(45deg) scale(0);
    width: 25%;
    height: 50%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: transform 0.15s ease-in;
    box-sizing: content-box;
}

.ly-checkbox
    .ly-checkbox_list
    > .ly-checkbox_item:not(.ly-checkbox_item-disabled):hover {
    color: var(--ly-checkbox_color_active);
}

.ly-checkbox
    .ly-checkbox_list
    > .ly-checkbox_item:not(.ly-checkbox_item-disabled):hover
    > .ly-checkbox_item-icon {
    border-color: var(--ly-checkbox_color_active);
}

.ly-checkbox .ly-checkbox_item-active > .ly-checkbox_item-icon {
    border-color: var(--ly-checkbox_color_active);
    background-color: var(--ly-checkbox_color_active);
}

.ly-checkbox .ly-checkbox_item-active > .ly-checkbox_item-icon::after {
    transform: translate(-50%, -67.5%) rotate(45deg) scale(1);
}

.ly-checkbox .ly-checkbox_item-disabled {
    color: #ddd;
    cursor: not-allowed;
}

.ly-checkbox .ly-checkbox_item-disabled > .ly-checkbox_item-icon {
    border-color: #ddd;
}

.ly-checkbox
    .ly-checkbox_item-active.ly-checkbox_item-disabled
    > .ly-checkbox_item-icon {
    border-color: #ddd;
    background-color: #ddd;
}
