.ly-scroll-top {
    display: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 42px !important;
    height: 42px !important;
    border-radius: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: var(--ly-form_box-shadow);
}

.ly-scroll-top > .ly-icon_arrow-down {
    transform: translateY(25%) rotate(-45deg);
}

.ly-scroll-top:hover {
    background-color: var(--ly-form_color_blue);
}

.ly-scroll-top:hover > .ly-icon_arrow-down {
    border-color: #fff;
}
