.fixed-table-cell {
    --ftc_background-color_thead: #f5f4f9;
    --ftc_background-color_tbody: #fff;
    --ftc_background-color_row: #f5f4f9;
    --ftc_background-color_column: #f5f4f9;
    --ftc_border: 1px solid #ddd;
    --ftc_top_scroll: 0px;
    --ftc_bottom_scroll: 0px;
    --ftc_left_scroll: 0px;
    --ftc_right_scroll: 0px;

    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.fixed-table-cell .ftc_table {
    position: relative;
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    table-layout: fixed;
}

.fixed-table-cell .ftc_table > thead > tr {
    font-size: 14px;
}

.fixed-table-cell .ftc_table th {
    font-family: 'Medium';
    background-color: var(--ftc_background-color_thead);
}

.fixed-table-cell .ftc_table td {
    background-color: var(--ftc_background-color_tbody);
}

.fixed-table-cell .ftc_table th,
.fixed-table-cell .ftc_table td {
    position: relative;
    height: 36px;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
    border: none;
}

/* 处理边框的显示 */
.fixed-table-cell .ftc_table > thead > tr > th:last-child::after,
.fixed-table-cell .ftc_table > tbody > tr > td:last-child::after {
    border-right: var(--ftc_border);
}

.fixed-table-cell .ftc_table > tbody > tr:last-child > td::after {
    border-bottom: var(--ftc_border);
}

.fixed-table-cell .ftc_table th::after,
.fixed-table-cell .ftc_table td::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: var(--ftc_border);
    border-left: var(--ftc_border);
    box-sizing: border-box;
}

.fixed-table-cell .ftc_table .ftc_table-cell-hidden::after {
    display: none;
}

/* 固定行 */
.fixed-table-cell .ftc_table .ftc_fixed-row {
    position: relative;
    top: var(--ftc_top_scroll);
    z-index: 18;
}

.fixed-table-cell .ftc_table .ftc_fixed-row-last,
.fixed-table-cell .ftc_table .ftc_fixed-row-last {
    top: unset;
    bottom: var(--ftc_bottom_scroll);
}

.fixed-table-cell .ftc_table .ftc_fixed-row th,
.fixed-table-cell .ftc_table .ftc_fixed-row td {
    background-color: var(--ftc_background-color_row);
}

.fixed-table-cell .ftc_table .ftc_fixed-row-split th::after,
.fixed-table-cell .ftc_table .ftc_fixed-row-split td::after {
    border-bottom: var(--ftc_border);
}

.fixed-table-cell .ftc_table .ftc_fixed-row-split + tr > th::after,
.fixed-table-cell .ftc_table .ftc_fixed-row-split + tr > td::after,
.fixed-table-cell .ftc_fixed-thead tbody > tr:first-child > td::after {
    border-top: none;
}

/* 固定列 */
.fixed-table-cell .ftc_table th.ftc_fixed-column,
.fixed-table-cell .ftc_table td.ftc_fixed-column {
    left: var(--ftc_left_scroll);
    z-index: 9;
    background-color: var(--ftc_background-color_column);
}

.fixed-table-cell .ftc_table th.ftc_fixed-column-last,
.fixed-table-cell .ftc_table td.ftc_fixed-column-last {
    left: unset;
    right: var(--ftc_right_scroll);
}

.fixed-table-cell .ftc_table th.ftc_fixed-column-split::after,
.fixed-table-cell .ftc_table td.ftc_fixed-column-split::after {
    border-right: var(--ftc_border);
}

.fixed-table-cell .ftc_table th.ftc_fixed-column-split + th::after,
.fixed-table-cell .ftc_table td.ftc_fixed-column-split + td::after {
    border-left: none;
}

/* 无数据 */
.fixed-table-cell .ftc_table .ftc_empty {
    top: 0 !important;
    left: 0 !important;
    background-color: var(--ftc_background-color_tbody) !important;
}

.fixed-table-cell .ftc_table .ftc_empty:empty::after {
    content: '没有符合查询条件的结果！';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #bc4442 !important;
}
